<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Welcome to the Kennel
            </h1>
            <h1><p class="lead">This dog needs a home</p></h1>
            <form action="your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button"
                    data-key="pk_test_NiX9Kp64R0OPWSpmUKnIayRk"
                    data-amount="2500"
                    data-name="webstore by wonjae"
                    data-description="doge"
                    data-image="/img/icon.png"
                    data-locale="auto">
                </script>
                <script>
                    {{!-- Hide default stripe button --}}
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>                                             
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Take her home for $25!</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/doge.png" alt="picture of a dog on suitecase" class="img-fluid">
        </div>
    </div>
</section>